.user {
    width: 80%;
    height: 100vh;
    background-color:#76abf3;
    float:right;
    padding: 10px;
}

.usernameUser , .passwordUser , .firstNameUser , .middleNameUser , .lastNameUser , .emailUser , .mobileUser {
    padding: 10px 20px;
}

.usernameUser>div , .passwordUser>div , .firstNameUser>div , .middleNameUser>div , .lastNameUser>div , .emailUser>div , .mobileUser>div {
    width: 100%;
}   

.buttonUser {
    padding: 20px;
}