.dashboard {
    width: 80%;
    height: 100vh;
    background-color: #969393;
    text-align: center;
    float: right;
}

.textDashboard {
    padding-top: 10%;
    font-size: 32px;
    text-transform: uppercase;
    word-spacing: 3px;
}