.login {
  margin: auto;
  width: 400px;
  border: 1px solid black;
  text-align: center;
  margin-top: 100px;
}

.usernameLogin , .passwordLogin {
  padding: 20px;
}

.usernameLogin>div , .passwordLogin>div {
  width: 100%;
}

.buttonLogin {
  padding: 20px;
}